<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_Qc_66K8N9v2JJf0uBbcFUxj_X-heFc8</string>
	<key>GCM_SENDER_ID</key>
	<string>577736941416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DSS.Game10</string>
	<key>PROJECT_ID</key>
	<string>motalzoochosis</string>
	<key>STORAGE_BUCKET</key>
	<string>motalzoochosis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577736941416:ios:ce735ce7e7717200bd80dd</string>
</dict>
</plist>